# Challenge results

## Database

The database is now handled to be more flexible:
For recommender systems, we are currently using 3 different kind of data structures
- User
- Item (here movies, but more generally)
- Interaction (links one user and one item)
    - This one is used for collaborative filtering (not content based recommender systems, but always useful to prepare the code for that)

## Tests

I have added some tests in a folder **tests**, it will keep the same structure than the **recommender** folder. You can run them using the following command: `make test` or `make tests`

## Running a similar system (like example)

In [1]:
import os

from recommender.settings import settings
from recommender.database import Database
from recommender.pipeline import Pipeline
from recommender.similarity.items import default_item_score

### Loading the data

In [2]:
db = Database(
    users_path=os.path.join('data', "users.csv"),
    items_path=os.path.join('data', "movies.csv"),
    interactions_path=os.path.join('data', 'ratings.csv')
)

In [3]:
# User database
db.users.data.head()

   user_id gender  age  occupation zip_code
0        0      F    1          10    48067
1        1      M   56          16    70072
2        2      M   25          15    55117
3        3      M   45           7    02460
4        4      M   25          20    55455

In [4]:
# Items database
db.items.data.head()
db.items.data.columns.tolist()

['item_id',
 'name',
 'year',
 'Animation',
 "Children's",
 'Comedy',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Sci-Fi',
 'Documentary',
 'War',
 'Musical',
 'Mystery',
 'Film-Noir',
 'Western']

In [5]:
# Ratings database
db.interactions.data.head()

   user_id  item_id  score
0        0     1176      5
1        0      655      3
2        0      902      3
3        0     3339      4
4        0     2286      5

### Pipeline creation

In [6]:
pipe = Pipeline(db)

In [7]:
pipe.train_model(
    similarity_items=default_item_score,
    items_features_columns=settings.ITEM_FEATURES
)

[[1. 1. 1. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]